* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    white-space: normal;
    overflow-wrap: break-word;
    
  
}

body {
  background-color: white;
}
