* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  
}
@font-face {
  font-family: 'simply_rounded' ;
  src: url(./Fonts/simply_rounded.ttf) format('truetype');
}

body {
  background-color: black;
}
